---
import Separator from "@/components/Separator.astro";
import { games } from "@/components/routes";
---

<div class="h-full flex flex-col items-center mx-4 mb-4 bg-gradient-to-b from-muted/10 to-muted/30 rounded-lg p-8">
  <main class="container h-full flex flex-col justify-start items-center">
    <header class="w-full mb-2">
      <h1 class="w-full text-3xl mb-2 ml-6 font-semibold tracking-wide">all games</h1>
      <Separator />
    </header>
    <section class="w-full my-4 py-4 px-6 bg-muted/50 rounded-md">
      { Object.entries(games).map(([key, { url, games }]) => {
        return (
          <li class="list-none">
            <h2 class="w-full text-2xl text-secondary-foreground font-semibold">{key} games</h2>
            {games.map((game, index) => (
              <a href={game.url}>{game.title}</a>
            ))}
          </li>
        )
      })}
    </section>
  </main>
</div>
