---
const { link, title } = Astro.props;
---

<a href={link} class="col-span-1 aspect-video flex flex-col transition-all duration-300 justify-center hover:bg-primary border border-border rounded-md p-4">
  {title}
</a>
