---
import Card from "@/components/ui/card.astro"
import { Button } from "@/components/ui/button"
import { ChevronRight } from "lucide-react";
import { Skeleton } from "./ui/skeleton";

const { link, title, description, preview } = Astro.props;
---
<Card class:list={["col-span-1 aspect-square h-full p-6"]}>
  <div class="flex flex-col justify-between items-center h-full gap-2">
    <h3 class="text-2xl font-semibold w-full">{title}</h3>
    <p class="text-muted-foreground">{description}</p>
    {preview ?
      null : <Skeleton className="w-full h-full"/> 
    }
    <a href={link} aria-label={title} class="w-full">
      <Button size="sm" className="w-full transition-all duration-300 hover:gap-3">play <ChevronRight/></Button>
    </a>
  </div>
</Card>
