---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { Logo } from './Logo';
---

<main class="container h-full">
  <section class="flex flex-col justify-center items-center h-full">
    <h1 class="text-6xl font-serif">mini games</h1>
  </section>
</main>

